.bikecheck{
    background-color: black;
    padding-top: 10vh;
    .button{
        font-family: 'BebasNeueRegular';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 50px;
        background: white;
        font-size: 22px;
        color: black;
    }
    .black{
        color: white;
        background: black;
        border: 1px solid white;
    }
    .container-fluide{
        padding: 0 5vw;
    }
    .section1{
        height: 80vh;
        background-image: url("../../assets/img/bikechech-section1-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        .container-fluide{
            h2{
                font-family: 'BebasNeue';
                font-size: 8vh;
                color: white;
            }
        }
    }
    .section2{

    }
    .section3{
        height: 80vh;
        background-image: url("../../assets/img/bikechech-section3-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }
    .section4{

    }
    .section5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 100vh;
        background-image: url("../../assets/img/bikechech-section5-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        .container-fluide{
            width: 100%;
            .wrapper{
                text-transform: uppercase;
                color: white;
                font-family: 'BebasNeue';
                h3{
                    font-size: 5vh;
                }
                span{
                    text-align: left;
                    font-size: 2vh;
                    font-family: 'BebasNeueRegular';
                    padding-bottom: 10px;
                }
                padding-top: 100px;
                display: flex;
                flex-direction: column;
                width: 200px;
            }
            .sub{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-family: 'BebasNeue';
                    color: white;
                    font-size: 5vh;
                }
                a{
                    margin: 1vh 0;
                }
                
            }
            
        }
        .footer{
            justify-self: end;
            display: flex;
            justify-content: space-between;
            padding: 100px 50px;
            ul{
                font-family: 'BebasNeue';
                display: flex;
                li{ 
                    padding: 0 20px;
                    text-transform: uppercase;
                    list-style: none;
                    a{  
                        font-size: 3vh;
                        color: white;
                        
                    }
                }
            }
        }
    }
}