.home{
    background-color: black;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 50px;
    background: white;
    font-size: 22px;
    color: black;
}
.section1{
    // background-color: black;
    background-image: url("../../assets/img/section1-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    z-index: 2;
  
    .shop{
        padding-top: 32%;
      padding-left: 55%;
        width: 100%;
        font-family: 'BebasNeue';
        p{  
            line-height: 1;
            margin: 0;
            font-size: 55px;
        }
        .nav-link{
            text-align: center;
            width: 220px;
            height: 50px;
            background: white;
            font-size: 22px;
            color: black;
        }
    }
}
.section2{
    padding-top: 100px;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    .last-magazine{
        height: 300px;
        width: 50%;
        background-image: url('../../assets/img/section2-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            transform: translate(0,-120px);
            -webkit-box-shadow: 0px 64px 160px -26px rgba(0,0,0,1);
            -moz-box-shadow: 0px 64px 160px -26px rgba(0,0,0,1);
            box-shadow: 0px 64px 160px -26px rgba(0,0,0,1);
        }
    }
    .issues-magazine{
        display: flex;
        justify-content: center;
        font-family: 'BebasNeue';
        width: 50%;
        color: white;
        .issues{
            transform: translate(0,-120px);
            width: 50%;
            
        }
    }
}
.section3{
    background: black;
    z-index: 0;
    padding-top: 50px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    .play{
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        .tittle{
            display: flex;
            color: white;
            align-items: flex-end;
            h2{
                font-family: 'AGLettericaExtraCompressed';
            line-height: 1;
            font-size: 15vh;
            }
            span{
                font-family: 'BebasNeue';
                font-size:30px; 
            }
            
        }
    }
    .hide{
        opacity: 0;
    }
    .vimeo-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
     }
     .vimeo-wrapper iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
}
.section4{
    background-color: black;
    color:white;
    font-family: 'BebasNeue';
    font-size: 35px;
    h2{
        font-size: 16vh;
        font-family: 'AGLettericaExtraCompressed';
        transform: translate(50px,180px);
       
    }
    .container-fluid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .wrapper{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
    
            .magazine-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .caption{
                    router-link{

                    }
                }
                img{
                    max-width: 740px;
                }
            }
            .photo{
                img{
                    width: 600px;
                }
            }
        }
    }
}
.section5{
    margin-top: 100px;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
   
    .conteiner-fluid{
        height: 70vh;
        width: 100%;
        background-image: url("../../assets/img/section5-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .wrapper{
            transform: translateY(-100px);
            color: white;
            margin-left: 200px;
            font-family: 'BebasNeue';
            font-size: 5vh;
            .span1{
                text-align: end;
                font-family: 'AGLettericaExtraCompressed';
                font-size: 15vh;
                margin: 0;
                line-height: 1;
            }
            display: flex;
           
            align-items: flex-end;
        }
    }
}
.section6{
    padding:100px 0;
    color: wheat;
    .container-fluid{
        display: flex;
        justify-content: center;
        align-items: center;
        .warpper{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .issue{
                display: none;
            }
            .curry{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                img{
                   width: 100%;
                }
            }

        }
        .cyclists{
            .cycl{
                display: none;
            }
            .curry{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    width: 65%;
                }
            }
        }
    }
}
.section7{
    .container-fluid{
        height: 100vh;
        width: 100%;
        background-image: url("../../assets/img/section7-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
}