.section1{
    background: black;
    z-index: 0;
    padding-top: 50px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .play{
        button{
            background: none;
            border: none;
            font-size: 20vh;
            color: white;
            font-family: 'AGLettericaExtraCompressed';
            text-transform: uppercase;
            cursor: pointer;
            
        }
        button:hover{
            
            text-shadow:   -5px 5px black, -8px 10px black, -11px 15px black, -14px 20px black;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .tittle{
            display: flex;
            color: white;
            align-items: flex-end;
            h2{
                font-family: 'AGLettericaExtraCompressed';
                line-height: 1;
                font-size: 15vh;
            }
            span{
                font-family: 'BebasNeue';
                font-size:30px; 
            }
            
        }
    }
    .hide{
        opacity: 0;
    }
    .vimeo-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
     }
     .vimeo-wrapper iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
}
.section2{
    
}